In [53]:
import pandas as pd
import re

In [109]:
#Creating the data frame
table_df = pd.read_html("http://www.csueastbay.edu/students/academics-and-studying/finals/fall.html", header = 0)
table_df = table_df[0]
clean_table_titles = ['time / date', 'Mon Dec 9', 'Tue Dec 10', 'Wed Dec 11','Thurs Dec 12', 'Fri Dec 13']
table_df.columns = clean_table_titles

In [110]:
#What the data frame contains:
table_df.head(10)

,time / date,Mon Dec 9,Tue Dec 10,Wed Dec 11,Thurs Dec 12,Fri Dec 13
0,8 AM -10 AM,MWF 8-8:59 am MW 7-8:59 am M 7-9:59 am MF 8-8:...,TuTh 9-9:59 am Tu 7-9:59 am,MWF 9-9:59 am MW 9-9:59 am WF 9-9:59 am W 7-9:...,TuTh 6:30-8:59 am Th 6:30-9:59 am,FS 8-8:59 am F 8-9:59 am WF 8-8:59 am MF 9-9:5...
1,10:15 AM - 12:15 PM,MWF 10-10:59 am MW 10-10:59 am M 10-11:59 am M...,TuTh 11-11:59 am Tu 10-11:59 am,MWF 11-11:59 am MW 11-11:59 am WF 11-11:59 am ...,TuTh 10-10:59 am Th 10-11:59 am,FS 10-10:59 am F 10-11:59 am MF 11-11:59 am WF...
2,12:45 PM - 2:45 PM,MWF 12-12:59 pm MW 12-12:59 pm M 12-1:59 pm MF...,TuTh 1-1:59 pm Tu 12-1:59 pm,MWF 1-1:59 pm MW 1-1:59 pm W 12-1:59 pm WF 1-1...,TuTh 12-12:59 pm Th 12-1:59 pm,FS 12-12:59 pm F 12-1:59 pm WF 12-12:59 pm MF ...
3,3 PM - 5 PM,MWF 2-2:59 pm MW 2-2:59 pm M 2-2:59 pm MF 2-2:...,TuTh 3-3:59 pm Tu 2-2:59 pm,MWF 3-5:59 pm MW 3-3:59 pm W 2-2:59 pm WF 3-3:...,TuTh 2-2:59 pm Th 2-2:59 pm,FS 2-2:59 pm F 2-3:59 pm MF 3-3:59 pm WF 2-2:5...
4,5:30 PM - 7:30 PM,MWF 4-4:59 pm MW 4-4:59 pm M 3-5:59 pm MF 4-4:...,TuTh 5-5:59 pm Tu 3-5:59 pm,MWF 5-5:59 pm MW 5-5:59 pm W 3-5:59 pm WF 5-5:...,TuTh 4-4:59 pm Th 3-5:59 pm,FS 4-4:59 pm F 4-5:59 pm WF 4-4:59 pm MF 5-5:5...
5,8 PM - 10 PM,MW 6-7:59 pm M 6-9:59 pm,TuTh 8-9:59 pm Tu 6-9:59 pm,W 6-9:59 pm MW 8-9:59 pm,TuTh 6-7:59 pm Th 6-9:59 pm,FS 6-9:59 pm F 6-9:59 pm

In [113]:
#cloder look at row 1--chosen randomly:
table_df.loc[0,'Mon Dec 9':].map(lambda entry: print(entry, '\n'))

MWF 8-8:59 am MW 7-8:59 am M 7-9:59 am MF 8-8:59 am

TuTh 9-9:59 am Tu 7-9:59 am

MWF 9-9:59 am MW 9-9:59 am WF 9-9:59 am W 7-9:59 am

TuTh 6:30-8:59 am Th 6:30-9:59 am

FS 8-8:59 am F 8-9:59 am WF 8-8:59 am MF 9-9:59 am

Mon Dec 9       None
Tue Dec 10      None
Wed Dec 11      None
Thurs Dec 12    None
Fri Dec 13      None
Name: 0, dtype: object

In [115]:
#the entries have str data type
type(table_df.loc[4,'Mon Dec 9'])

str

In [108]:
#Applying the regex function to all rows and columns
#Updating the dataframe so the entries no longet have str data type, 
table_df.loc[:,'Mon Dec 9':]=table_df.loc[:,'Mon Dec 9':].applymap(lambda stringEntry: re.findall("\w+ [0-9]+-[0-9]+:[0-9]+ [ap]m", stringEntry))

TypeError: ('expected string or bytes-like object', 'occurred at index Mon Dec 9')

In [107]:
table_df

,time / date,Mon Dec 9,Tue Dec 10,Wed Dec 11,Thurs Dec 12,Fri Dec 13
0,8 AM -10 AM,"[MWF 8-8:59 am, MW 7-8:59 am, M 7-9:59 am, MF ...","[TuTh 9-9:59 am, Tu 7-9:59 am]","[MWF 9-9:59 am, MW 9-9:59 am, WF 9-9:59 am, W ...",[],"[FS 8-8:59 am, F 8-9:59 am, WF 8-8:59 am, MF 9..."
1,10:15 AM - 12:15 PM,"[MWF 10-10:59 am, MW 10-10:59 am, M 10-11:59 a...","[TuTh 11-11:59 am, Tu 10-11:59 am]","[MWF 11-11:59 am, MW 11-11:59 am, WF 11-11:59 ...","[TuTh 10-10:59 am, Th 10-11:59 am]","[FS 10-10:59 am, F 10-11:59 am, MF 11-11:59 am..."
2,12:45 PM - 2:45 PM,"[MWF 12-12:59 pm, MW 12-12:59 pm, M 12-1:59 pm...","[TuTh 1-1:59 pm, Tu 12-1:59 pm]","[MWF 1-1:59 pm, MW 1-1:59 pm, W 12-1:59 pm, WF...","[TuTh 12-12:59 pm, Th 12-1:59 pm]","[FS 12-12:59 pm, F 12-1:59 pm, WF 12-12:59 pm,..."
3,3 PM - 5 PM,"[MWF 2-2:59 pm, MW 2-2:59 pm, M 2-2:59 pm, MF ...","[TuTh 3-3:59 pm, Tu 2-2:59 pm]","[MWF 3-5:59 pm, MW 3-3:59 pm, W 2-2:59 pm, WF ...","[TuTh 2-2:59 pm, Th 2-2:59 pm]","[FS 2-2:59 pm, F 2-3:59 pm, MF 3-3:59 pm, WF 2..."
4,5:30 PM - 7:30 PM,"[MWF 4-4:59 pm, MW 4-4:59 pm, M 3-5:59 pm, MF ...","[TuTh 5-5:59 pm, Tu 3-5:59 pm]","[MWF 5-5:59 pm, MW 5-5:59 pm, W 3-5:59 pm, WF ...","[TuTh 4-4:59 pm, Th 3-5:59 pm]","[FS 4-4:59 pm, F 4-5:59 pm, WF 4-4:59 pm, MF 5..."
5,8 PM - 10 PM,"[MW 6-7:59 pm, M 6-9:59 pm]","[TuTh 8-9:59 pm, Tu 6-9:59 pm]","[W 6-9:59 pm, MW 8-9:59 pm]","[TuTh 6-7:59 pm, Th 6-9:59 pm]","[FS 6-9:59 pm, F 6-9:59 pm]"

# Area of concern this row doesn't do well with the regex

In [71]:
table_df.loc[1, 'Mon Dec 9']

[]

In [60]:
#The goups of days that's present in the table
list_of_days=["MFW",'MW','M','MF','TuTh','Tu','WF','W','Th','FS','F']

In [24]:
string_val = table_df.loc[4,'Mon Dec 9']
result = re.findall("\w+ [0-9]+-[0-9]:[0-9]+ [ap]m", string_val)
class_days =dict()
for days in list_of_days:
    class_days[days] = 0

In [21]:
def numb_of_occurence_for_each_day():
    string_val = table_df.loc[4,'Mon Dec 9']
    result = re.findall("\w+ [0-9]+-[0-9]:[0-9]+ [ap]m", string_val)
    for entry in result:
        if 'MFW' in entry:
            class_days['MFW']+=1
        elif 'MW' in entry:
            class_days['MW'] +=1
        elif 'M' in entry:
            class_days['M'] +=1
        elif 'MF' in entry:
            class_days['MF'] +=1
        elif 'TuTh' in entry:
            class_days['TuTh'] +=1
        elif 'Tu' in entry:
            class_days['Tu'] +=1
        elif 'WF' in entry:
            class_days['WF'] +=1
        elif 'W' in entry:
            class_days['W'] +=1
        elif 'Th' in entry:
            class_days['Th'] +=1
        elif 'FS' in entry:
            class_days['FS'] +=1
        elif 'F' in entry:
            class_days['F'] +=1

In [36]:
table_df.loc[:,'Mon Dec 9'].map(lambda x: print(x, '\n'));

MWF 8-8:59 am MW 7-8:59 am M 7-9:59 am MF 8-8:59 am

MWF 10-10:59 am MW 10-10:59 am M 10-11:59 am MF 10-10:59 am

MWF 12-12:59 pm MW 12-12:59 pm M 12-1:59 pm MF 12-12:59 pm

MWF 2-2:59 pm MW 2-2:59 pm M 2-2:59 pm MF 2-2:59 pm

MWF 4-4:59 pm MW 4-4:59 pm M 3-5:59 pm MF 4-4:59 pm

MW 6-7:59 pm M 6-9:59 pm